/* styles/mdx.css */
.mdx code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.mdx pre {
  padding: 1.2rem;
  background-color: #0f1117;
  overflow-x: auto;
  border-radius: 0.375rem;
  font-size: 0.9rem;
}

/* Shiki 테마를 위한 공통 처리 */
.mdx pre.shiki {
  color: inherit;
  background: inherit;
}